.missao{
    background-color: #c7c7c7;
    display: flex;
    justify-content: space-between;
}

.missao img{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left:15%;
}

.missao-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.missao-texto p{
    text-align: justify;
    max-width: 75%;
}