.div-principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    background-color: #0f3b98;
}

.texto-maneiro{
    margin-top: 0.35;
    margin-left: 15rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 2.25rem;
    color: #fff;
}

.botao-maneiro{ 
    margin-top: 0.35rem;
    margin-right: 15rem;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    transition: .2s;
    height: 2.5rem;
    width: 6rem;
    border-style: solid;
    border: none;
}


.botao-maneiro:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .2s;
    background-color: #fff;
    color: #000;
    border-style: solid;
    border: none;
}